/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'goudy_bookletter_1911regular';
    src: url('goudy_bookletter_1911-webfont.eot');
    src: url('goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'),
         url('goudy_bookletter_1911-webfont.woff') format('woff'),
         url('goudy_bookletter_1911-webfont.ttf') format('truetype'),
         url('goudy_bookletter_1911-webfont.svg#goudy_bookletter_1911regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('Brandon_blk.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

/*h1, h2, h3, h4 { font-family: "Brandon Grotesque", "Futura", Helvetica, Arial, sans-serif; }*/
h1, h2, h3, h4 { font-family: "Montserrat", "Futura", Helvetica, Arial, sans-serif; }

a, a:visited {
  color: white;
  text-decoration:none;
  font-size: 1.3em;
}

nav a {
    font-family: "Brandon Grotesque", "Futura", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

nav a:hover {
  border-bottom: 1px solid;
}

/* header */
header {
  color: #CACACA;
  background-color: #196375; 
/*    background-color: #da7c6f; */
  top:0;
  width:100%;
  margin-bottom:20px;
}

header h1 {
    color: white;
    font-weight: bolder;
    font-size: 3.4em;
    margin: .3em 0 0 1em;
    text-align: right;
}

header h1 a {
  font-size:3.4rem;
}

header h1 strong { color:white; font-weight:900; }

header h2 {
    font-family: "Sofia", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-style: italic;
    text-align: right;
    font-size: 1.3em;
}

nav ul {
    margin: 0;
    padding: 4em 0 0 0;
    text-align: justify;
    display: table;
    width: 100%;
}

nav ul li {
  font-size: 1.2em;
  margin: 0 auto;
    text-align: left;
  line-height: 40px;
    display: table-cell;
}

nav ul li:not(:last-child):after {
  color: #0f0a06;
  content: '';
}

/*  BLOG | POSTS | INDEX */

.posts-list {
  margin-top: 4.5rem;
}

.posts-list h4 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight:500;
}

.posts-list li {
  margin: 0;
  padding-top: 1em;
  border-bottom: 1px dashed #c3c3c3;
}
.posts-list li a {
  width: 200%;
  height: 100%;
  margin: 0;
  color: #0f0a06;
}
.posts-list li a:hover {
   color: #196375;
}
.posts-list li h4 {
  margin: 0;
}

.posts-list li:nth-child(even) {
  background: #fefdfc;
}
.posts-list li:hover, .posts-list li:nth-child(even):hover {
  background: #f9f8f8;
}

.posts-list time {
  float:right;
}
.posts-list time:after {
  content: attr(time);
  font-weight: 200;
}

/*-- Article --*/

article {
    margin: 0 auto;
}

article h1 {
    background-color: white;
    color: #0f0a06;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: .2em 0 0 0;
    font-size: 2.4em;
    margin-bottom: 10px;
}

article hr {
  border: 0;
  border-bottom: 2px dashed #c3c3c3;
  margin-top: 1px;
}

article header {
    background-color: white;
    padding-top: 1.3em;
}

article a:visited,
article a:active,
article a {
  color: #196375;
  font-size:1.3rem;
}
article a:hover {
  color: #196375;
  border-bottom: 1px solid #196375;
}

article p {
    font-family: "goudy_bookletter_1911regular", "Times New Roman", Times New Roman, serif;
    font-size: 1.3em;
}

article footer {
    font-family: "Brandon Grotesque", "Futura", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 1.4em 0;
    color: #196375;
    font-variant: small-caps;
}

article footer hr {
    padding: 0;
    border: none;
    border-top: 2px dashed #c3c3c3;
    color: #c3c3c3;
    text-align: center;
}
article footer hr:after {
    content: "▦";
    display: inline-block;
    position: relative;
    top: -0.78em;
    font-size: 2.5em;
    padding: 0 0.25em;
    background: white;
}

/*-- End Article --*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 960px) {
    nav ul {
    padding: 7em 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    header h1{
        text-align: center;
        width:100%;
        margin:10px auto;
    }
    header h2{
        text-align: center;
        font-size:0.84em;
        line-height: 1;
    }
    nav ul{
        text-align: center;
        padding: 0;
    }
    .posts-list h4 {
      font-size: 0.9em;
      overflow:hidden;
    }
    .posts-list time:after {
      content: attr(mobile);
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
