<script language="javascript1.1"
        type="text/javascript"
        src="https://dl.dropboxusercontent.com/u/51595546/JoshuaGameDev/Scripts/LoadUnityPostClick.js"></script>
<center>
  <div id="Example">
      <a href="#Example"><img alt="" src="https://dl.dropboxusercontent.com/u/51595546/JoshuaGameDev/Scripts/LoadImage.png" onclick="javascript:LoadUnityAfterClick('https://dl.dropboxusercontent.com/u/3496603/LD48/<%= title %>/<%= title %>.unity3d', <%= width || '700' %>, <%= height || '438' %>, 'Example')" border="0"/></a>
   </div>
</center>
