---
title: Games
---
<ul class='posts-list games-list'>
  <h1><%= title %></h1>
  <% blog('games').articles[0...50].each do |article| %>
    <li style='background: url(../img/<%= article.metadata[:page]["name"] || article.title %>.png);'>
      <h4><a href="<%= article.url %>"><%= article.title %></a></h4>
    </li>
  <% end %>
</ul>

