---
title: About
---
  <section class='full-width'>
    <div id='wrapper' class='wrapper container'>
      <div class='fourteen columns centered'>
        <h2>About</h2>
        <p>Justin is a software craftsperson, educator, Agile advocate, and game designer. He enjoys readable and well-tested code. He strongly believes in the iterative development process, and that intuitive user experience and is key to any effective design.</p>
        <p>Justin understands the power of non-traditional education, and is self taught in programming and design. Starting with simple brochure websites to eventually developing large scale software solutions for businesses as a Ruby on Rails consultant. Justin then joined 8th Light going through their apprenticeship program and eventually mentoring others.</p>
        <p>Justin currently resides in Tampa, Florida as an Educator and mentor. He enjoys <em>unsweetened</em> iced tea, coffee, and indie games. He is available for consultation, contract work, or a friendly conversation.</p>      </div>
    </div>
  </section>
