---
title: About
---
  <section class='full-width'>
    <div id='wrapper' class='wrapper container'>
      <div class='fourteen columns centered'>
        <h2>About</h2>
        <p>Justin is a developer, educator, and founder of Lunar Collective software consultancy. He enjoys sustainable and well-tested code. He strongly believes in the iterative development process, and that intuitive user experience and is key to any effective design.</p>
        <p>Justin understands the power of non-traditional education, and is self taught in programming and design. Justin began his career as a full stack freelance developer, and went on to complete the apprenticeship program and mentor his own apprentices at 8th Light, Inc. This experience informed his desire to teach others, and Justin went on to instruct at The Iron Yard Academy in St. Petersburg, Florida and Austin, Texas. As a Senior Instructor at The Iron Yard, Justin went on to shape curriculum and internal tools, and mentor not only students but other instructors across all disciplines.</p>
        <p>
          Justin has built software for clients of all sizes including The New England Patriots and MIT. Justin has given talks at Tampa RB, Suncoast JS, BD Conf, Austin on Rails, Austin RB, and hosted the Global Day of Code Retreat in Tampa for 2 years. Justin has been interviewed on the Career JS Podcast, Episode 9 discussing his career, mentoring, and code school vs. apprenticeship models. Justin currently resides in Austin, Texas and has founded his own software consultancy, Lunar Collective. He enjoys unsweetened iced tea, very sweet iced coffee, and indie games.</p>
      </div>
    </div>
  </section>
