---
title: About
---
  <section class='full-width'>
    <div id='wrapper' class='wrapper container'>
      <div class='fourteen columns centered'>
        <h2>About</h2>
        <p>Justin is a software craftsperson, educator, Agile advocate, and game designer. He enjoys clean, readable and well-tested code, and believes in iterative development, intuitive user experience and effective design.</p>
        <p>Justin understands the power of non-traditional education, and is self taught in Ruby on Rails, HTML, CSS, JavaScript, and Python, among other languages.</p>
        <p>Justin resides in Tampa, FL and enjoys tea, coffee, and indie games. He is available for consultation, contract work, or for a friendly conversation.</p>
      </div>
    </div>
  </section>
